{{> header}}
<div class="container">
    <h3 class="card-title-1">Cart List</h3>
    <div class="cart-table">
         <table class="table table-cart">
            <thead>
                <tr class="table-danger">
                    <th scope="col">STT</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantities</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
                <tbody class="cart-body">
                {{!-- <tr>
                    <th scope="row">1</th>
                    <td> Nike one</td>
                    <td><i class="fas fa-plus icons"></i> 2 <i class="fas fa-minus icons"></i></td>
                    <td>200.00$</td>
                    <td>400.00$</td>
                    <td><i class="far fa-trash-alt remove-icon"></i></td>
                </tr> --}}
            </tbody>
        </table>
         {{!-- <div class="subTotal">
            <h4>Subtotal (1 item): </h4>
            <h4 class="subtotal-price">400.00$</h4>
        </div> --}}
    </div>
    <div class="bnt-cart">
        {{!-- <button type="submit" class="btn  btn-success btn-sm bnt-cart-1" href="/home">Continue to shopping </button> --}}
        {{!-- <button type="submit" class="btn  btn-success btn-sm" href="/cart/checkout">Proceed to checkout</button> --}}
        <a class="btn  bnt-cart-1" href="home" role="button">Back to shop</a>
        <a class="btn  bnt-cart-1" href="/cart/checkout" role="button">Proceed to checkout</a>
    </div>

</div>

<script>
    function disPlayCart() {
        let cartItems = localStorage.getItem("productInCart");
        cartItems = JSON.parse(cartItems);
        let totalPrice = localStorage.getItem("productPrice");
        let cartNumber = localStorage.getItem("cartNumbers");

        let productContainer = document.querySelector(".cart-body");
         let productContainer2 = document.querySelector(".cart-table");

        if (cartItems && productContainer ) {
            productContainer.innerHTML = ' ';
            Object.values(cartItems).map((item,index) => {
                productContainer.innerHTML += `
           
                <tr>
                    <th scope="row">${index +1}</th>
                    <td> ${item.name}</td>
                    <td><i class="fas fa-plus icons"></i> ${item.inCart} <i class="fas fa-minus icons"></i></td>
                    <td>$${item.price},00</td>
                    <td>$${item.price * item.inCart},00</td>
                    <td><i class="far fa-trash-alt remove-icon"></i></td>
                </tr>
            
             `
            });
        productContainer2.innerHTML += `
            <div class="subTotal">
            <h4>Subtotal (${cartNumber} item): </h4>
            <h4 class="subtotal-price">$${totalPrice},00</h4>
        `
        }
    }



   disPlayCart();
</script>