{{!-- <div class="footer__bottom" style="margin-top: 50px;">
    <p class="footer__license">© 2020 <span class="footer__license--name">KiO-Shoes</span>. All rights
        reserved</p>
</div> --}}
<nav class="navbar fixed-bottom navbar-light" style="background-color: #e9ab9c;">
  <span class="navbar-text">
   © 2020 <span class="footer__license--name">KiO-Shoes</span>. All rights
        reserved
  </span>
</nav>
