 {{> header}}

<nav class="nav">
  
  <a class="nav-link" href="courses/create">Thêm sản phẩm</a>
  <a class="nav-link" href="/list/stored/create">Xem thông tin sản phẩm</a>
  <a class="nav-link" href="/me/customer/create">Xem thông tin khách hàng</a>
  <a class="nav-link" href="/ac/account/create">Xem thông tin Acount</a>
  
</nav>



