{{!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> --}}

<div class="welcome">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-welcome">
        <div class="card-body">
          <h1 class="card-welcome_header"><i class="fab fa-node-js fa-3x"></i></h1>
          <p class="card-text card-welcome_text">Create an account or login</p>
          <a href="/users/register" class="btn btn-block mb-2" style="background-color:  #e26c27;">Register</a>
          <a href="/users/login" class="btn btn-block" style="background-color:  #e26c27;">Login</a>
        </div>
      </div>
    </div>
  </div>
  </div>
